header {
  background-color: blue;
  text-align: center;
  height: 100px;
  width: 100%;
  color: white;
  font-weight: bolder;
}

#page-title {
  padding: 20px;
  margin: auto;
}

#search-button {
  width: 100%;
}

.list-group-item {
  background-color: gray;
  color: white;
  text-align: center;
}

#weather-box {
  height: 400px;
  border: black solid 2px;
  margin-top: 20px;
  margin-left: 400px;
}

.format-headline {
  font-size: x-large;
  font-weight: bolder;
}

.list-item {
  background-color: gray;
  color: white;
  text-align: center;
  border: black 1px dashed;
  border-radius: 10px;
  margin-top: 10px;
}

.fcst-card {
  background: navy;
  color: white;
  border: white solid 2px;
}

.fcst-icon {
  max-width: 40px;
  max-height: 40px;
}
